<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <link ref="/static/style.css">
    </head>
    <body>
        {% if user.is_authenticated %} 
            <p>Welcome, {{ user.username }}. Thanks for logging in.</p> 
        {% else %} 
            <p>Welcome, new user. Please log in.</p> 
        {% endif %}
        <div>
            <a href="{% url 'createPost' %}"><button type="button">createPost</button></a>
        </div>
        <div>
            <a href="{% url 'signin' %}"><button type="button">signin</button></a>
            <a href="{% url 'signup' %}"><button type="button">signup</button></a>
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">logout</button>
            </form>
        </div>

        {% for post in posts %}
        <div>
            <h2>{{post.title}}</h2>
            <h2>{{post.context}}</h2>
        </div>
        {% endfor %}
    </body>
</html>